
PORT=4001
DATABASE_URL= # database url key 


# jwt secret 
JWT_SECRET=supersecret




# 🧠 Redis (Redis Cloud)
REDIS_URL=rediss://default:<your_redis_password>@<your_redis_host>:<your_redis_port>

# 🗄️ Neon (Postgres)
DATABASE_URL=postgresql://<username>:<password>@<neon_host>/<database_name>?sslmode=require
